// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include <windows.h>
/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_NAVIGATETO_FORM DIALOGEX 26, 41, 411, 181
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Navigate To"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    CONTROL         "",IDC_RESULTS_LIST,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_ALIGNLEFT,7,44,385,123,WS_EX_STATICEDGE
    COMBOBOX        ID_GOLINE_EDIT,9,12,359,30,CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL
END

IDD_ABOUTDIALOG DIALOGEX 0, 0, 209, 65
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About NavigateTo"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Navigate To ",IDC_STATIC_TEXT,7,7,124,8
    LTEXT           "Author: Oleksii Maryshchenko",IDC_STATIC_TEXT,7,29,137,8
    LTEXT           "young_developer@mail.ru",IDC_STATIC_TEXT,8,39,89,8
    LTEXT           "2017",IDC_STATIC_TEXT,182,51,19,8
    LTEXT           "omaryshchenko.info",IDC_STATIC_TEXT2,8,49,89,8
END


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,10,2,0
 PRODUCTVERSION 1,10,2,0
 FILEFLAGSMASK 0x37L
#ifdef _DEBUG
 FILEFLAGS 0x21L
#else
 FILEFLAGS 0x20L
#endif
 FILEOS 0x4L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904b0"
        BEGIN
            VALUE "Comments", "Latest Source available from https://github.com/young-developer/nppNavigateTo"
            VALUE "CompanyName", "Oleksii Maryshchenko"
            VALUE "FileDescription", "Notepad++ File NavigateTO : a free (GPL) source code file NavigateTo"
            VALUE "FileVersion", "1, 10, 2, 0"
            VALUE "InternalName", "NavigateTo"
            VALUE "LegalCopyright", "Copyright (C) 2017 Oleksii Maryshchenko"
            VALUE "OriginalFilename", "NavigateTo.dll"
            VALUE "ProductName", "NavigateTo plugin"
            VALUE "ProductVersion", "1, 10, 2, 0"
            VALUE "SpecialBuild", "UNICODE"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1200
    END
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_ABOUTDIALOG, DIALOG
    BEGIN
    END
END
#endif    // APSTUDIO_INVOKED

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

